<div>
	<h2>Welcome to BlocBooks!</h2>
	<p>BlocBooks Below</p>
	<ol>
	<% books.each do |book| %>
	<li><a href="/books/<%= book.id %>"><%= book.name %> by <%= book.author %></a></li>
	<% end %>
	</ol>
	<a href="/">Back to Welcome</a>
</div>

<div>
	<h2>env</h2>
	<p><%= @env %></p>
	<h2>request</h2>
	<p><%= @request %></p>
	<h2>routing params</h2>
	<p><%= @routing_params %></p>
</div>
