<div>
<<<<<<< HEAD
	<h1><b>Name: </b><%= book.name %></h1>
	<p><b>Author: </b><%= book.author %></p>
	<p><b>Pages: </b><%= book.pages %></p>
=======
	<h1><%= book.name %></h1>
	<h2>By: <%= book.author %></h2>
	<h3>Pages: <%= book.pages %></h3>
	<hr>
	<p>Read it and weep.</p>
</div>
<div>
	<a href="/books/index">Back</a>
>>>>>>> arch_3
</div>